<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>GPA Calculator</title>
    </head>

    <body>
        <div class="jumbotron jumbotron-fluid bg-info">
            <div class="container mt-2">
                <h1><a href="{{ url_for('index')}}" class="text-white">GPA Calculator</a></h1>
            </div>

        </div>

        <br>


        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class=flashes>
                {% for category, message in messages %}

                <div class="alert alert-{{ category }}   ">
                    {{ message }}

                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            {% block body%} {% endblock %}



            <br>

            <footer class="card-body">
            </footer>
            <br>
        </div>
    </body>

</html>