<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>GPA Calculator</title>
</head>

<body>
    <div class="navbar bg-info">
        <div class="container ">
            <h2><a href="." class="text-white">GPA Calculator</a></h2>
        </div>

    </div>
    <div class="conatiner">
        <br>


        <div class="container">

            {% block body%} {% endblock %}
        </div>
        <br>

        <footer class="card-body">
        </footer>
        <br>

    </div>
</body>

</html>