{% extends "base.html" %}{% block body%}
<p>Enter marks in below form to calculate your SGPA. only works for 10 subjects.</p>
<form action="/ten" method="post" class="form-group ">
    <div class="form-group">
        <input type="number" name="one" min=0 max=100 step=1 class="form-control" placeholder="Paper one" required>
    </div>
    <div class="form-group">
        <input type="number" name="two" min=0 max=100 step=1 class="form-control" placeholder="Paper two" required>
    </div>
    <div class="form-group">
        <input type="number" name="three" min=0 max=100 step=1 class="form-control" placeholder="Paper three" required>
    </div>
    <div class="form-group">
        <input type="number" name="four" min=0 max=100 step=1 class="form-control" placeholder="Paper four" required>
    </div>
    <div class="form-group">
        <input type="number" name="five" min=0 max=100 step=1 class="form-control" placeholder="Paper five" required>
    </div>
    <div class="form-group">
        <input type="number" name="six" min=0 max=100 step=1 class="form-control" placeholder="Paper six" required>
    </div>
    <div class="form-group">
        <input type="number" name="seven" min=0 max=100 step=1 class="form-control" placeholder="Paper seven" required>
    </div>
    <div class="form-group">
        <input type="number" name="eight" min=0 max=100 step=1 class="form-control" placeholder="Practical one"
            required>
    </div>
    <div class="form-group">
        <input type="number" name="nine" min=0 max=100 step=1 class="form-control" placeholder="Practical two" required>
    </div>
    <div class="form-group">
        <input type="number" name="ten" min=0 max=100 step=1 class="form-control" placeholder="Practical three"
            required>
    </div>
    <button type="submit" class="btn btn-info">Calculate </button>
</form>

{% endblock %}