html {
    background-color: #e4e4e4;
    color: #858484;
}

body {
    font-size: 200%;
    font-family: monospace;
    max-width: 90%;
    line-height: 1.5;
    padding: 10px;
}

h1,
h2 {
    color: #3b3a3a;
}

h2.error {
    color: red;
}